Ascensor/Debug
Ascensor/.settings
Gateway\ Wifi/Debug
Gateway\ Wifi/.settings
medidorDistancia/Debug
medidorDistancia/.settings
Pathfinder/Debug
Pathfinder/.settings
ServoMotor/Debug
ServoMotor/.settings

